@model Wuzzfny.Models.Job

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainPartial.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Jobs", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Job</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.JobTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobTitle)
                @Html.ValidationMessageFor(model => model.JobTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobContent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobContent)
                @Html.ValidationMessageFor(model => model.JobContent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobImage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="upload"/>
                @Html.ValidationMessageFor(model => model.JobImage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "CategoryId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", String.Empty)
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
