@model Wuzzfny.Models.Job

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainPartial.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Jobs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="alert alert-danger" id="error-div" style="display:none">
            <span id="view-alert"></span>
        </div>
        <h4>Job</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.JobImage)

        <div class="form-group">
            @Html.LabelFor(model => model.JobTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobTitle)
                @Html.ValidationMessageFor(model => model.JobTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobContent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobContent)
                @Html.ValidationMessageFor(model => model.JobContent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobImage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="upload" id="myImage" />
                @Html.ValidationMessageFor(model => model.JobImage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "CategoryId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", String.Empty)
                @Html.ValidationMessageFor(model => model.CategoryId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" id="save" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts{
    <script>
        $(function () {
            $("#save").click(function () {
                //// check if input is empty

                //if($('#JobImage').val()=="")
                //{
                //    $('#error-div').fadeIn();
                //    $('#view-alert').append("please select photo");
                //    return false;
                //}

                // check if the image extention is vaild

                if ($("#myImage").val() != "") {
                    var filename = $("#myImage").val();
                    //imge.png==>> png
                    var extensoinImg = filename.split('.');
                    var vaildextension = ["jpg", "png", "gif", "bmp"];
                    if ($.inArray(extensoinImg[extensoinImg.length - 1], vaildextension) == -1) {
                        $("#error-div").fadeIn();
                        $("#view-alert").append("please select vaild type of image");
                        return false;
                    }

                    //check if the image size is vaild 2 mb
                    var myfilesize = document.getElementById("myImage").files[0].size / 1024 / 1024;
                    if (myfilesize >= 2) {
                        $("#error-div").fadeIn();
                        $("#view-alert").append("please select small photo");
                        return false;
                    }
                }
            });
        });
    </script>
}