@model IEnumerable<Wuzzfny.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello EveryOne</h1>
    <p class="lead">search for jobs</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

@foreach (var item in Model)
{
    <div class="panel panel-default" style="padding:20px;">
        <h1 class="panel-heading">@Html.DisplayFor(modelItem => item.CategoryName)</h1>
        <h1>@Html.DisplayFor(modelItem => item.CategoryDescription)</h1>

        <div class="row">
            @foreach (var subItem in item.Jobs)
            {
                <div class="col-md-3 thumbnail" style="margin-left:20px;margin-bottom:30px; height:500px">
                    <img src="~/Uploads/@subItem.JobImage" />
                    <h3>@Html.DisplayFor(modelItem => subItem.JobTitle)</h3>
                    <h3>@Html.DisplayFor(modelItem => subItem.JobContent)</h3>
                    @Html.ActionLink("Details", "Details", new { JobId = subItem.Id},new { @class="btn btn-primary"}) 
                </div>
            }
        </div>
    </div>
}